@use './fonts.scss';
@use './titles.scss';

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, input, input::placeholder, button, a {
    font-family: "Gothic A1";
    color: #3D3D3D;
}

html {
    scroll-behavior: smooth;
}  

body {
    background-color: #F5F7FA;
}

.wrapper {
    max-width: 1440px;
    margin: 0 auto;
}

@media (max-width: 768px) {
    .wrapper {
        padding: 0 10px;
    }
} 